# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/

# Coverage
*.opencover.xml