# User-specific files
.vs/
.idea/
*.suo
*.user

# Build results
bin/
obj/

# Avalonia
.avalonia-build-tasks/

# Test results
TestResults/
/YoutubeDownloader.Android/x86_64
/YoutubeDownloader.Android/x86_64/ffmpeg
